@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

$primary-bg: #111;
$primary-txt: #c4c4c4;

body {
    margin: 0;
    font-family: Orbitron;
    background-color: $primary-bg;
    color: $primary-txt;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .timewatch {
        font-size: 3em;
        font-weight: bold;
        div {
            width: 100px;
            text-align: center;
            display: inline-block;
        }
    }
}

button {
    width: 150px;
    border-radius: 7px;
    border: none;
    background-color: #000;
    font-size: 1.3em;
    margin: 10px;
    color: $primary-txt;
    padding: .5rem 1rem;
    cursor: pointer;
}

.run {
    transition: ease .5s;

    &:hover{
        transition: ease .5s;
        background-color: limegreen;
    }
}

.stop {
    transition: ease .5s;

    &:hover{
        transition: ease .5s;
        background-color: firebrick;
    }
}