@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
body {
  margin: 0;
  font-family: Orbitron;
  background-color: #111;
  color: #c4c4c4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.screen .timewatch {
  font-size: 3em;
  font-weight: bold;
}
.screen .timewatch div {
  width: 100px;
  text-align: center;
  display: inline-block;
}

button {
  width: 150px;
  border-radius: 7px;
  border: none;
  background-color: #000;
  font-size: 1.3em;
  margin: 10px;
  color: #c4c4c4;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.run {
  transition: ease 0.5s;
}
.run:hover {
  transition: ease 0.5s;
  background-color: limegreen;
}

.stop {
  transition: ease 0.5s;
}
.stop:hover {
  transition: ease 0.5s;
  background-color: firebrick;
}

/*# sourceMappingURL=index.css.map */
